.Header {
  background: var(--header-background);
  height: 120px;
  position: relative;
  display: flex;
  align-items: center;

  &__logo {
    position: absolute;
    height: 56px;
    width: 190px;
    left: 120px;
    bottom: 32px;
  }

  &__link {
    position: relative;
    display: inline-block;
    margin: auto;
    width: 560px;
    height: 56px;
  }

  &__quote {
    position: absolute;
    right: 32px;
    font-weight: bold;
    font-style: italic;
    max-width: 500px;
  }
}
